/*  Tablet  */
@media (max-width: 768px) {
    .cabecalho {
        padding: 5% 0% 5% 2.5%;
    }

    .campo {
        margin: auto;
        flex-direction: column;

    }

    #campo_texto { 
        width: 90%;
        margin: auto;
        padding-bottom: 10%;
    }

    .campo_resultado {
        margin: auto;
        width: 80%;
        padding: 5%;
        margin-bottom: 10%;
    }

    .campo_resultado_geral {
        padding: 5% 0%;
    }

    .imagem_campo_vazio {
        display: none;
    }

    .botoes {
        width: 90%;
        margin-bottom: 8%;
        order: 0;
    }

    .botao_criptografar {
        padding: 5% 10%;
    }

    .botao_descriptografar {
        padding: 5% 10%;
    }

    .botao_copiar { 
        padding: 5% 10%;
    } 
    .rodape {
        position: static;
    }
}


/*  Celular  */
@media (max-width: 600px) {
    .botoes_geral {
        flex-direction: column;
    }

}