@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --cor-primaria: #052051;
    --cor-secundaria: #868E96;
    --cor-terciaria: #1A1D21;
    --cor-fundo: #343A40;

    --fonte-primaria: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--cor-fundo);
    box-sizing: border-box;
}

.cabecalho {
    padding: 1% 0% 0% 2.5%;  
}

.logo_alura {
    width: 80px;
}

.campo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#campo_texto {
    width: 50%;
    padding: 3% 2% 3% 5%;
    background-color: var(--cor-fundo);
    color: #FFFFFF;
    font: 2rem var(--fonte-primaria);
    border: none;
    resize: none;
    outline: none;
}

::placeholder {
    color: #ffffff;
    opacity: 0.5;
}

.campo_resultado {
    width: 20%;
    padding: 2.5%;
    margin-left: 8%;
    background-color: var(--cor-secundaria);
    border-radius: 32px;
    text-align: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.205);
    font: 1.5rem var(--fonte-primaria);
    word-wrap: break-word;
}

.campo_resultado_geral {
    padding: 10% 0%;
}

.imagem_campo_vazio {
    width: 80%;
}

.texto_erro1 {
    font: 700 1.5rem var(--fonte-primaria);
    color: var(--cor-terciaria);
}

.texto_erro2 {
    font: 400 1rem var(--fonte-primaria);
    color: var(--cor-terciaria);
}

.botoes {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 16px;
    order: 1;
    margin-left: 5%;
    margin-bottom: 4%;
}

.botoes_aviso {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    color: #FFFFFF;
    font-family: var(--fonte-primaria);
}

.botoes_geral {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.botao_criptografar {
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    color: #FFFFFF;
    padding: 3% 10%;
    border-radius: 24px;
    border: 1px solid #FFFFFF;
    font: 400 1rem var(--fonte-primaria);
}

.botao_criptografar:active {
    background-color: #031330;
}

.botao_descriptografar {
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    color: #FFFFFF;
    padding: 3% 10%;
    border-radius: 24px;
    border: 1px solid #FFFFFF;
    font: 400 1rem var(--fonte-primaria);
}

.botao_descriptografar:active {
    background-color: #031330;
}

.botao_copiar:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.botao_copiar {
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    color: #FFFFFF;
    padding: 3% 10%;
    border-radius: 24px;
    border: 1px solid #FFFFFF;
    font: 400 1rem var(--fonte-primaria);
}

.botao_copiar:active {
    background-color: #031330;
}

.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--cor-primaria);
    padding: 12px;
    text-align: center;
    font-family: var(--fonte-primaria);
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}